In [1]:
# The code was removed by Watson Studio for sharing.

,Country or Area,Year,co2_gigagrams,hfc_gigagrams,methane_gigagrams,pfc_gigagrams,sf6_gigagrams,n2o_gigagrams
0,Australia,2012,397830.6047,7945.106379,111709.4988,253.697462,134.111252,25775.42951
1,Australia,2011,398161.3872,7512.150105,110274.7423,259.250564,134.136620,25201.09362
2,Australia,2010,399364.8191,6942.606891,109062.6389,243.764011,145.185945,24451.85748
3,Australia,2009,398668.7713,6353.309697,110806.5324,307.886656,143.230925,24897.90320
4,Australia,2008,399084.1509,5810.538264,113592.7600,381.135610,158.400094,25546.77744